
allow hal_audio_default system_suspend:binder call;
allow system_suspend hal_audio_default:binder transfer;
allow system_suspend sysfs_wakeup:dir { open read };
allow system_suspend sysfs_wakeup:file { getattr open read };
allow system_suspend sysfs_battery:dir { open read };
allow system_suspend sysfs_battery:file { getattr open read };
